/.settings
/.dub
/dub.selections.json
/docs
/__dummy.html
/docs.json
/.buildpath
/.project
/.idea
/*.iml
/poodinis-proper-d-injector.exe
/poodinis-proper-d-injector.lib
/quickstartExample.exe
/classes