/.settings
/.dub
/docs
/__dummy.html
/docs.json
/.buildpath
/.project
/.idea
/*.iml
/poodinis-proper-d-injector.exe
/poodinis-proper-d-injector.lib
/poodinis-proper-d-injector.pdb
/quickstartExample.exe
/classes